body{
  font-size:16px;
}

.btn {
  font-size: .7rem;
}

.footer-nav{
  width: 100vw;
  height: 5rem;
  margin: 0 0;
}

@media (max-width: 1200px) {
  body { font-size: 14px; }
  .app {
    width:85%;
    margin:auto auto;
  }
  .side-nav {
    margin: 0 1rem 0 0;
  }
  .nav-container {
    width:90%;
  }
  .feature-container {
    width:70vw;
  }
  .bottom-banner {
    padding: 0 2%;
  }
  .index-container {
    width:70vw;
  }
}

@media (max-width: 1000px) {
  body { font-size: 12px; }
  .app {
    width:95%;
    margin: auto auto;
  }
  .current-trip {
    margin-left:0;
  } 
  .index-container {
    width:85vw;
  }
}

@media (max-width: 800px) {
  body { font-size: 10px; }
  .app {
    width:100%;
    margin: auto auto;
  }
  .social-media-inner {
    flex-wrap:wrap;
    width:50%;
  }
  .footer-sitemap {
    margin-top: 0.5%; 
    margin-right:2rem;
    margin-left:2rem;
  }
  .vertical-line{
    margin-left:1rem;
  }
  .nav-container {
    flex-direction: column;
  }
  .categories-nav {
    height:auto;
    margin:0 0;
    width:80vw;
  }
  .feature-container{
    width:80vw;
  }
  .top-function-name{
    height:auto;
  }
  .footer-media-container{
    margin-right:1rem;
  }
  .top-banner {
    padding: 0 2%;
  }
  .profile-photo {
    margin-right:0;
  }
  .side-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  
}

/* Type will scale with document */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

h5 {
  font-size:1.2rem;
}