.social-btn {
  display: flex;
  align-items: center;
  margin:10px auto;
  width: 70%;
  border-radius: 5px;
}

.form-group {
  width: 70%;
  margin-bottom: 0.2em;
}
.form-control {
  width: 100%;
}

.icon-medium {
  width:2rem;
  height:2rem;
  margin: 3px 20px ;
}

.icon-small {
  width:1.5rem;
  height:1.5rem;
  margin: 3px 20px ;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    line-height: 0.2rem;
    color: #636b6f;
    // border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.pointer {
    cursor: pointer;
}

p {
    margin-top: 1rem;
}

.side-container {
    height: 50vh;
    width: 65%;
    max-width: 900px;
    background-color: white;
}

.index-img {
  height: 55vh;
  width: 35%;
  img {
    height:100%;
    width:100%;
  }
}

.index-container {
  height: 55vh;
  width: 40%;
  max-width: 900px;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(197, 197, 197);
  border-radius: 5px;
  margin: 40px auto;
}

.control-label{
  width: 70%;
  text-align: left;
}

.logo-text {
  width: 20%;
}

.register-bar {
  width: 70%;
  background-color: white;
  box-shadow: 0px 0px 6px rgb(197, 197, 197);
  border-radius: 5px;
  margin: 10px auto;
}
